# Виртуальное окружение
venv/
.venv/
env/

# Файлы, созданные Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.db
*.sqlite3

# Файлы, созданные IDE
.idea/
.vscode/
*.iml

# Переменные окружения
.env
.env.local

# Директории с результатами тестов
allure-report/
allure-results/
.pytest_cache/
.coverage/
htmlcov/

# Специфичные для проекта файлы
response.json